@import "@styles/vars.module.scss";

.ResourcesContent{
	//border: 2px dashed $black;
	width: 100%;
	height: 100%;
	//padding: 1rem;
	display: flex;
	flex-wrap: wrap;
}

.innerGrid{
	display: flex;
	flex-wrap: wrap;
}