@import "@styles/vars.module.scss";

.OfflineNotice{
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	z-index: 1000;
	pointer-events: none;

	.inner{
		font-size: $clampExtraSmall;
		//background: $black;
		background-image: linear-gradient(to bottom, #373231, #373231, #373231, #373231, #373231, #342f2e, #302d2b, #2d2a28, #262422, #1f1e1c, #191817, #121110);
		color: $white;
		padding: 0.5em 1em;
		border-radius: 0.5em;
		display: flex;
		align-items: center;
		justify-content: center;
		img, svg{
			width: 1.5em; 
			height: auto;
			margin-right: 1em;
		}
	}

	&[data-state='offline']{
		.inner{
			opacity: 1;
			transform: translate3D(0px,0px,0px);
		}
	}
}